<h1 class='center'>Cart Items: </h1>
<div>
  <br>
  <% if @products.any? %>
    <ul class="collection container border">
      <% @products.each do |product| %>
      <li class="collection-item avatar">
        <img src="<%= product.image.url(:thumb) %>" alt="" class="circle">
        <span class="title"><%= link_to product.name, department_product_path(product.department, product) %></span>
        <p>$<%= product.price %>.00 <br>
           <%= truncate(product.details, length: 30) %>
        </p>
        <i><%= link_to 'Remove', remove_cart_product_path(product), method: :delete, class: "secondary-content " %></i>
      </li>
      <% end %>
    </ul>
  <% else %>
      <h3> No products in cart, go shopping!</h3>
  <% end %>
</div>
