
<div>
	<h1>List of Stores:</h1>
	<br />

	<div class="row">
  		<% @stores.each do |store| %>
		  	<div class="col s12 m6">
		    	<div class="card <%= store.color %> center">
		    		<div class="card-content white-text">
						<span class="card-title"> <%= store.name %> </span>
	        			<h6>Owner: <%= store.owner %> </h6>
	        			<h6>Location: <%= store.location %> </h6>
		    		</div>
		    		<div class="card-action" >
		    			<%= link_to 'Visit Store', store_departments_path(store) %>
		    			<%= link_to 'Edit', edit_store_path(store) %>
    	    			<%= link_to 'Delete', store_path(store), method: :delete,
    	    				 data: {confirm: 'Really Delete?'} %>
		    		</div>
		    	</div>
		  	</div>
  		<% end %>
  	</div>


	<div class='submit-button center'>
		<%= link_to 'Add Store', new_store_path, class: "btn" %>
	</div>
	<br />

</div>
