<<<<<<< HEAD
<h1> <%= @store.name %> Departments </h1>
<hr />

<% if @departments.any? %>
  <ul>
    <% @departments.each do |department| %>
      <%= link_to department.name, department_products_path(department) %>
        <%= link_to 'Edit', edit_store_department_path(@store, department) %>
        <%= link_to 'Delete', store_department_path(@store, department),
          method: :delete, data: {confirm: 'Really Delete?'} %>
          <br />
    <% end %>
  <% else %>
    <h4> No Departments Found, Please Create One. </h4>
  </ul>
<% end %>
  <br />


<%= link_to 'Add Department', new_store_department_path(@store) %>
