<nav class='valign-wrapper'>
	<div class='logo'>
		<h3 class='logo-font left'>E-Shops</h3>
	</div>
	<div class='nav-links'>
	  <ul class='right'>
	    <li> <a href="/"> Home </a> </li>
	    <li> <%= link_to 'About', about_path, class: 'nav-link-c' %> </li>
	    <li> <a href='/contact'> Contact </a> </li>
	    <!-- <li> <a href='/stores'> Stores </a> </li> -->
			<% if user_signed_in? %>
		    <!-- <li> <%= link_to 'Contact', contact_path, class: 'nav-link-c' %> </li> -->
		    <li> <%= link_to 'Stores', all_stores_path, class: 'nav-link-c' %> </li>
		    <li> <a href='/cart'> <i class="material-icons cart-icon">shopping_cart</i> </a> </li>
				<li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
			<% else %>
        <li>
          <%= link_to 'Login', new_user_session_path %>
        </li>
			<% end %>
	  </ul>
	</div>
</nav>
